@import "./../../common/mordern-reset.css";

div:not(#awebChromeHelper) {
  font-size: 3rem;
  border: 1px solid currentColor;
  padding: 10px;
}
.static {
  background: yellow;
}
.fixed {
  background-color: hsla(250 50% 50% / 1);
  position: fixed;
  inset-block-end: 0;
  inset-inline-end: 0;
}
/* .absolute-wrapper {
  position: absolute;
} */
.relative-wrapper {
  position: relative;
  inset-block-start: 50px;
  inset-inline-end: 50px;
}
.absolute {
  position: absolute;
  background-color: sandybrown;
  inset-inline-start: 100px;
  inset-block-start: 0;
}
.sticky {
  background-color: aquamarine;
  padding: 20px;
  margin-block: 100px;
  position: sticky;
  inset-block-start: 0;
}
